body {
 background-color: 	#8EB2C3;
}
nav{
    background-color: #1A2129;
}
.navbar-nav {
    background-color: #1A2129;
}
.navbar {
    background-color: #1A2129;
}
.navbar-inverse {
    background-color: #1A2129;
}
.navbar-right {
    background-color: #1A2129;
}
.jumbotron {

    color: #2B3944;;
	background-color: #003d66;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#698DA7), to(#1A364E));
    background-image: -webkit-linear-gradient(top, #698DA7 0%, #1A364E 100%);
    background-image:      -o-linear-gradient(top, #698DA7 0%, #1A364E 100%);
    background-image:         linear-gradient(to bottom, #698DA7 0%, #1A364E 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#698DA7', endColorstr='#1A364E',GradientType=0 ); /* IE6-9 */
    background-repeat: repeat-x; /* Repeat the gradient */
    border-bottom: 1px solid #d5d5d5;
    border-color:  #4d2600;
}
.jumbotron h1,
.jumbotron .h1 {
  color: #1A2129
}
.jumbotron p {
    color: 	#89B3CA
}
.jumbotron > hr {
  border-top-color: #d5d5d5;
}
.btn{
    color: #89B3CA;
    background-color: #1A2129;
      background-image: -webkit-gradient(linear, left top, left bottom, from(#1B354E7), to(#1A2129));
  background-image: -webkit-linear-gradient(top, #1B354E 0%, #1A2129 100%);
  background-image:      -o-linear-gradient(top, #1B354E 0%, #1A2129 100%);
  background-image:         linear-gradient(to bottom, #1B354E 0%, #1A2129 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1B354E', endColorstr='#1A2129',GradientType=0 ); /* IE6-9 */
}
footer{
    border-color: #1A2129;
}