@{
    ViewBag.Title = "About JIM B";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Our first product is Slate, a fully automated scheduling application for management built around a user-friendly schedule management system, allowing employees to view and manipulate their schedule and much, much more!.</p>
