@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    333 N Plankinton Ave,<br />
    Milwaukee, WI 53203<br />
    <abbr title="Phone">P:</abbr>
    414-533-0623
</address>

<address>
    <strong>Support:</strong>   <a href="https://www.youtube.com/watch?v=ZXsQAXx_ao0">SlateSupport@jimb.com</a><br />
    <strong>Marketing:</strong> <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">marketing@jimb.com</a>
</address>