@{
    ViewBag.Title = "DaySelection";
}

<table width="90" align="center">

    <tr>
        <th>Select Day:</th>
    </tr>

    <tr>
        <th><button>Monday</button></th>
    </tr>

    <tr>
        <th><button>Tuesday</button></th>
    </tr>

    <tr>
        <th><button>Wednesday</button></th>
    </tr>

    <tr>
        <th><button>Thursday</button></th>
    </tr>

    <tr>
        <th><button>Friday</button></th>    
    </tr>

    <tr>
        <th><button>Saturday</button></th>
    </tr>

    <tr>
        <th><button>Sunday</button></th>
    </tr>
</table>